<div class="text-center">
  <h1><%= @topic.title %></h1>
    <%= link_to "Edit", edit_topic_path(@topic), class: 'btn btn-success' %>
    <%= link_to "Delete Topic", @topics, method: :delete, class: 'btn btn-danger' %>
</div>
<% if policy(@bookmark).create? %>
<%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-primary' %><% end %>
    <br>
    <br>
    <br>
<div class="row">
  <div class="col-md-8">
    <% @bookmarks.each do |bookmark| %>
      <div class="media">
        <div class="media-body">
          <h2 class="media-heading">
            <%= link_to bookmark.url, bookmark.url, :target => '_blank' %>
            <% if policy(bookmark).destroy? %>
            <%= link_to "Delete Bookmark", [bookmark.topic, bookmark], method: :delete, class: 'btn btn-danger' %>
            <% end %>
            <% if policy(bookmark).edit? %>
            <%= link_to "Edit Bookmark", edit_topic_bookmark_path(@topic, bookmark), class: 'btn btn-success' %>
            <% end %>
          </h2>
            <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
        </div>
      </div>
    <% end %>
  </div>
  